---
// interface Props{
// 	mapImg: string;
// 	salons?: any;
// }
const {salons = [], mapImg, class: className, ...rest} = Astro.props

import './map.sass';
---

<div style={`background-image: url(${mapImg})`} class={`map ${className}`} {...rest}>
	<div class="loader loader-default"></div>
	<div id="map"></div>
</div>

<script>
    import './map'
</script>